    <div *ngIf="controller === 'all' ">
      <br>
        <h4>All Properties ( {{misparDirot}} )</h4>

          <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Adress</th>
      <th>Rooms #</th>
      <th>Floor</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let d of dirot">
    <tr>
      <td>{{ d.street }} {{d.houseNumber}}</td>
      <td>{{ d.rooms }}</td>
      <td>{{ d.floor }}</td>
      <td>{{ d.pricePerMonth }}</td>
      <td><button class="btn btn-danger btn-sm" (click) = "removeProperty(d.id)">Remove</button></td>
    </tr>

  </tbody>
</table> 


          <!--<div *ngFor="let d of dirot"> 
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <p class="text-warning">{{d.street}} <strong>{{d.houseNumber}}</strong></p>
                      <p>{{d.rooms}} rooms</p>
                      <div class="col-lg-4 col-md-4 col-sm-4">Arnona: {{d.arnona}} ₪</div>
                      <div class="col-lg-4 col-md-4 col-sm-4">Price: {{d.pricePerMonth}} ₪/month</div>
                    </div>
          
                    <div class="panel-footer">
                      <div class="col-lg-3 col-md-3 col-sm-3"><b>{{d.baal}}</b> </div>
                      <div class="col-lg-3 col-md-3 col-sm-3 text-info">{{d.phoneNumber}}</div>
                      <div class="col-lg-3 col-md-3 col-sm-3 text-primary">{{d.contactEmail}} </div>

                      <div class="col-lg-3 col-md-3 col-sm-3">
                        <button class="btn btn-danger btn-sm" (click) = "removeProperty(id, uObj)">Remove</button>
                      </div>

                      <div class="clear"></div>
                    </div>
                  </div>
          </div>-->
          
              


    </div>
  
    <div *ngIf= "controller === 'new' ">
        <br> 
        <h4>New Properties ( {{misparNewDirot}} )</h4>
        
          <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Adress</th>
      <th>Rooms #</th>
      <th>Floor</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let d of dirotNew">
    <tr>
      <td>{{ d.street }} {{d.houseNumber}}</td>
      <td>{{ d.rooms }}</td>
      <td>{{ d.floor }}</td>
      <td>{{ d.pricePerMonth }}</td>
      <td><button class="btn btn-success btn-sm" (click) = "approveProperty(d.id)">Approve</button></td>
    </tr>

  </tbody>
</table> 


        <!--<div *ngFor="let d of dirotNew"> 
            <div class="panel panel-default">
              <div class="panel-body">
                <p class="text-warning">{{d.street}} <strong>{{d.houseNumber}}</strong></p>
                <p>{{d.rooms}} rooms</p>
                <div class="col-lg-4 col-md-4 col-sm-4">Arnona: {{d.arnona}} ₪</div>
                <div class="col-lg-4 col-md-4 col-sm-4">Price: {{d.pricePerMonth}} ₪/month</div>
              </div>
    
              <div class="panel-footer">
                  <div class="col-lg-3 col-md-3 col-sm-3"><b>{{d.baal}}</b> </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 text-info">{{d.phoneNumber}}</div>
                  <div class="col-lg-3 col-md-3 col-sm-3 text-primary">{{d.contactEmail}} </div>

                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <button class="btn btn-success btn-sm" (click) = "approveProperty(id, uObj)">Approve</button>
                  </div>

                  <div class="clear"></div>
                </div>
            </div>
    </div>-->

    </div>
  
  

  
  
  
  