    <div class="autoRotateLine" *ngIf="controller === 'all' ">
      <br>
        <h4>All Properties ( {{misparDirot}} )</h4>

          <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th></th>
      <th>Adress</th>
      <th>Rooms #</th>
      <th>Floor</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let d of dirot; let i = index">
    <tr>
      <td>{{ i + 1}}</td>
      <td>{{ d.street }} {{d.houseNumber}}</td>
      <td>{{ d.rooms }}</td>
      <td>{{ d.floor }}</td>
      <td>{{ d.pricePerMonth }}</td>
      <td><button class="btn btn-danger btn-xs" (click) = "removeProperty(d.ik, i)">Remove</button></td>
    </tr>

  </tbody>
</table> 

    </div>
  
    <div class="autoRotateLine" *ngIf= "controller === 'new' ">
        <br> 
        <h4>New Properties ( {{misparNewDirot}} )</h4>
        
          <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th></th>
      <th>Adress</th>
      <th>Rooms #</th>
      <th>Floor</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let d of dirotNew; let i = index">
    <tr>
      <td> {{ i +1}}</td>
      <td>{{ d.street }} {{d.houseNumber}}</td>
      <td>{{ d.rooms }}</td>
      <td>{{ d.floor }}</td>
      <td>{{ d.pricePerMonth }}</td>
      <td><button class="btn btn-success btn-xs" (click) = "approveProperty(d.ik, i)">Approve</button>
      <button class="btn btn-warning btn-xs" (click) = "denyProperty(d.ik, i)">Deny</button>
      </td>
    </tr>

  </tbody>
</table> 

    </div>


        <div class="autoRotateLine" *ngIf="controller === 'myProperties' ">
      <br>
        <h4>My Properties ( {{misparMyDirot}} )</h4>

          <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th></th>
      <th>Adress</th>
      <th>Rooms #</th>
      <th>Floor</th>
      <th>Price</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody *ngFor="let d of myDirot; let i = index">
    <tr>
      <td>{{ i + 1}}</td>
      <td>{{ d.street }} {{d.houseNumber}}</td>
      <td>{{ d.rooms }}</td>
      <td>{{ d.floor }}</td>
      <td>{{ d.pricePerMonth }}</td>
      <td>{{ d.ik }}</td>
    </tr>

  </tbody>
</table> 

    </div>
  
  

  
  
  
  