select:invalid { color: gray; }

label { margin-bottom: 5px;}

.clear { clear: both }


.contacts { display: none; }




 .mainParams {
	 padding-top:10px;
 }
 .mainParams select {
	 background: transparent;
	 border: none;
	 box-shadow: none;
	 padding-left: 0px;
	 color: #999999;
	 display:inline-block;
 }

  .mainParams div {
	 padding-left: 0px;
 } 
.mailLink {
	padding-top: 0px;
}

 .modal { z-index: 1101;}