<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">

        <!--<div class="alert alert-warning alert-dismissible" role="alert" *ngIf="warning">-->
          <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
          <!--<strong>Warning!</strong> {{ message }}-->
        <!--</div>-->

        <!--these properties are required: center, zoom-->
        <div class="mapper">
        <google-map [center]="center" [zoom]="zoom" [disableDefaultUI]="disableDefaultUI" [disableDoubleClickZoom]="disableDoubleClickZoom"
                    [mapTypeId]="mapTypeId" [maxZoom]="maxZoom" [minZoom]="minZoom" [styles]="styles">
          <!--this property is required: position-->
          <google-map-marker [position]="position" [title]="title" [content]="content">
          </google-map-marker>
        </google-map>
        </div>

      </div>

      <div class="col-sm-4">


        <label>Cities</label>
        <select class="form-control" #c (change)="callCity(c.value)">
          <option value="" disabled selected hidden>Please Choose...</option>
          <option *ngFor=" let city of cities" [value]="city.code">{{city.name}}</option>
        </select>

        <div *ngIf="cityHasNeighborhoods" class="neibrhoodBLock">
        <label>Neighborhood</label>
        <select class="form-control" #neighborhood (change)="callNeighborhood(neighborhood.value)">
          <option value="" disabled selected hidden>Please Choose...</option>
          <option *ngFor=" let n of neighborhoods" [value]="n.neighborhood_code">{{n.name}}</option>
        </select>
        </div>

        <div class="addFlat">
          <label>Adress:</label>
          <input type="text" id="street" [(ngModel)]="dira.street" class="form-control" placeholder="Jabotinski 44/25">

          <label>Rooms:</label>
          <input type="text" id="rooms" [(ngModel)]="dira.rooms" class="form-control" placeholder="3">

          <label>Area:</label>
          <input type="text" id="area" [(ngModel)]="dira.area" class="form-control" placeholder="Area...">

          <label>Arnona:</label>
          <input type="text" id="arnona" [(ngModel)]="dira.arnona" class="form-control" placeholder="in ₪...">

          <label>Price Per Month:</label>
          <input type="text" id="price" [(ngModel)]="dira.price" class="form-control" placeholder="in ₪...">

          <label>Name owner:</label>
          <input type="text" id="owner" [(ngModel)]="dira.baal" class="form-control" placeholder="Boby Jones">

          <label>Phone number:</label>
          <input type="phone" id="phone" [(ngModel)]="dira.phoneNumber" class="form-control" placeholder="05266544345">

          <label>Contact email:</label>
          <input type="email" id="email" [(ngModel)]="dira.contactEmail" class="form-control" placeholder="gmail@chucknorris.com">

          <br>
          <button class="btn btn-success btn-block" (click)="saveDira()">Add Flat</button>
        </div>

      </div>
    </div>
  </div>
</main>
